/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #error_explanation {
    border: 1px solid red;
    padding-top: 0;
    background-color: rgb(172, 165, 165);
    margin: 20px;
    margin-left: 0%;
  }
  
  #error_explanation h2 {
    margin: 0;
    background-color: rgb(205, 21, 21);
    border: 1px solid red;
    color: aliceblue;
  }

  .field_with_errors label {
    background-color: red;
    display: inline-block;       /* テキスト幅にあわせて背景が伸びる */
  }

    /*それぞれ設定する  */
  .field_with_errors input { 
    border: 1px solid red
    }

  .field_with_errors textarea { 
    border: 1px solid red
    }